html {
    font-size: 12px;
    /* px signifie 'pixels': la taille de base pour la police est désormais 10 pixels de haut  */
    font-family: 'Lato';
}

h1 {
    font-family: "Lato";
    font-size: 60px;
    color: rgb(56, 62, 62);
    text-align: end;
    padding: 20px 30px;
    /*border: 15px solid rgb(187, 26, 58);*/
    background-image: linear-gradient(to left,
            rgb(204, 50, 255),
            rgb(0, 225, 255));

}

body {
    width: 600px;
    margin: 0 auto;
    /* background-image: url("../images/mirage.jpg"); */
    background-color: rgb(56, 62, 62);
    padding: 0 30px 20px 30px;

}


h2 {
    color: rgb(19, 231, 231);
    font-size: 40px;
    margin-left: 10px;
}

p,
li {
    color: rgb(221, 153, 255);
}

img {
    display: block;
    margin: 0 auto;
}

img:hover {
    height: 400px;
}

#Clément {
    color: deeppink;
}

.nourriture {
    color: chocolate;
}

a:hover {
    font-size: large;
}